<ion-header translucent>
    <ion-toolbar>
        <ion-title>Agregar Testimonio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="ion-text-justify">
            Por favor escribe tu testimono, el cual sera aprobado para ser publicado, agradecemos tu valentia.
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="testimonioForm" (ngSubmit)="onSubmit()">
                <ion-item id="testimonioTit">
                    <ion-label class="subt" position="floating">Titulo: </ion-label>
                    <ion-input autocapitalize="on" autocomplete="off" autocorrect="on" clearOnEdit="true" inputmode="text" type="text" formControlName="title"></ion-input>
                </ion-item>
                <div *ngIf="( testimonioForm.get('title').hasError('required') ) && testimonioForm.get('title').touched">
                    <div class="error" *ngIf="testimonioForm.get('title').hasError('required') && testimonioForm.get('title').touched">
                        Este campo es requerido
                    </div>
                </div>
                <ion-item id="testimonioarea">
                    <ion-label class="subt" position="floating">Testimonio: </ion-label>
                    <ion-textarea rows="8" cols="20" clearOnEdit="true" formControlName="description"></ion-textarea>
                </ion-item>
                <div *ngIf="( testimonioForm.get('description').hasError('required') ) && testimonioForm.get('description').touched">
                    <div class="error" *ngIf="testimonioForm.get('description').hasError('required') && testimonioForm.get('description').touched">
                        Este campo es requerido
                    </div>
                </div>
                <ion-item>
                    <ion-label>Anonimo: </ion-label>
                    <ion-toggle color="success" formControlName="anonimo"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-button type="submit" fill="outline" shape="round" size="default">
                        Enviar Testimonio
                    </ion-button>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>