ion-item {
    ion-button {
        --border-color: linear-gradient(90deg, #0075ec, #00c6e4);
        text-transform: none!important;
        width: 100%;
    }
}

#testimonioarea,
#testimonioTit {
    --highlight-background: #0075ec;
}