<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Temas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

   <ion-card *ngFor="let tema of temas;" (click)="verTema(tema.id)">
      <img src="{{media+tema.image}}"/>
      <ion-card-header>
        <ion-card-subtitle>{{tema.categoria}}</ion-card-subtitle>
        <ion-card-title>{{tema.titulo}}</ion-card-title>
      </ion-card-header>
      <!--<ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>-->
    </ion-card>

</ion-content>
