<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Testimonio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let t of testimonios; let i = index">

        <ng-container *ngIf='i%2 === 0'>
            <ion-item lines="inset">
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>{{t.usuario}}</ion-label>
            </ion-item>

            <ion-card-content class="ion-text-justify">
                <ion-card-subtitle class="ion-text-center">{{t.titulo}}</ion-card-subtitle>
                {{t.descripcion}}
            </ion-card-content>
        </ng-container>

        <ng-container *ngIf='i%2 !== 0'>
            <ion-item lines="inset">
                <ion-label class="ion-text-right">{{t.usuario}}</ion-label>
                <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
            </ion-item>

            <ion-card-content class="ion-text-justify">
                <ion-card-subtitle class="ion-text-center">{{t.titulo}}</ion-card-subtitle>
                {{t.descripcion}}
            </ion-card-content>
        </ng-container>

    </ion-card>

    <ion-fab *ngIf="isAuth" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>