<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Galeria</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <div class="images">
            <div class="one-image" *ngFor="let image of itemListData; let i = index">
                <ion-img *ngIf="i<=counter; else skeleton" [src]="media+'/media/'+image.image" (ionImgDidLoad)="addCounter()"></ion-img>
            </div>
        </div>
    </ion-grid>

    <ion-infinite-scroll *ngIf="itemListData.length > 0" threshold="100px" (ionInfinite)="scroll($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<!-- Skeleton screen -->
<ng-template #skeleton>
    <ion-row class="pin-container">
        <ion-col>
            <div class="pin-item">
                <ion-skeleton-text style="margin-bottom: 12px; height:220px; border-radius: 8px;" animated></ion-skeleton-text>
            </div>
        </ion-col>
    </ion-row>
</ng-template>