<ion-header>

</ion-header>

<ion-content>

    <div class="container">

        <div class="header">
            <img src="../../../assets/images/logo2.png" id="logo" alt="Logo Family">
        </div>

        <div class="body">

            <ion-list>
                <!--<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">-->
                <ion-item class="recuperar">
                    <ion-label>Ingresa tu correo electrónico para recuperar tu contraseña</ion-label>
                </ion-item>
                <ion-item class="login">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <!--<ion-input placeholder="Cedula" type="text" formControlName="identificacion"></ion-input>-->
                    <ion-input placeholder="Correo Electronico" type="text"></ion-input>
                </ion-item>

                <!--<div *ngIf="( credentialsForm.get('identificacion').hasError('minlength') || credentialsForm.get('identificacion').hasError('required') ) && credentialsForm.get('identificacion').touched">
                    <div class="error" *ngIf="credentialsForm.get('identificacion').hasError('required') && credentialsForm.get('identificacion').touched">
                        Este campo es requerido
                    </div>
                    <div class="error" *ngIf="credentialsForm.get('identificacion').hasError('minlength') && credentialsForm.get('identificacion').touched">
                        Cedula invalida
                    </div>
                </div>-->

                <ion-button type="submit" fill="solid" shape="round" size="default">
                    Recuperar
                </ion-button>
                <!--</form>-->
            </ion-list>

        </div>
    </div>

</ion-content>